################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ISIP523_Solodovnikov/DesignTimeBuild/.dtbcache.v2
/.vs/ISIP523_Solodovnikov/FileContentIndex/2fb73529-609f-430a-966b-429f1da3267b.vsidx
/.vs/ISIP523_Solodovnikov/FileContentIndex/5e30027b-98fa-4d68-846f-8417b2809ee1.vsidx
/.vs/ISIP523_Solodovnikov/FileContentIndex/71c155e1-d5ca-4f9a-ae1b-e3bf2bbeaf7b.vsidx
/.vs/ISIP523_Solodovnikov/FileContentIndex/9271e070-73c8-46c8-8c9d-6c8f49d13af1.vsidx
/.vs/ISIP523_Solodovnikov/FileContentIndex/a2819c99-e9f7-4267-90de-c9c745401c26.vsidx
/.vs/ISIP523_Solodovnikov/v17/.futdcache.v2
/.vs/ISIP523_Solodovnikov/v17/.suo
/.vs/ISIP523_Solodovnikov/v17/.wsuo
/.vs/ISIP523_Solodovnikov/v17/DocumentLayout.backup.json
/.vs/ISIP523_Solodovnikov/v17/DocumentLayout.json
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/isip523_solodovnikov.metadata.v9.bin
/.vs/ProjectEvaluation/isip523_solodovnikov.projects.v9.bin
/.vs/ProjectEvaluation/isip523_solodovnikov.strings.v9.bin
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/ISIP523_Solodovnikov/bin/Debug/net8.0/ISIP523_Solodovnikov.deps.json
/ISIP523_Solodovnikov/bin/Debug/net8.0/ISIP523_Solodovnikov.dll
/ISIP523_Solodovnikov/bin/Debug/net8.0/ISIP523_Solodovnikov.exe
/ISIP523_Solodovnikov/bin/Debug/net8.0/ISIP523_Solodovnikov.pdb
/ISIP523_Solodovnikov/bin/Debug/net8.0/ISIP523_Solodovnikov.runtimeconfig.json
*.dll
/ISIP523_Solodovnikov/obj
/ISIP523_Solodovnikov/bin/Debug/net8.0
/.vs/ISIP523_Solodovnikov/FileContentIndex
